.result {
    white-space: pre-wrap;
    padding: 0.78571429em 1em;
    border: 1px solid rgba(34, 36, 38, 0.15);
    background: rgba(34, 36, 38, 0.15);
}

.no-resize textarea {
    resize: none !important; /* important sucks I know, i dont care atm */
}

header {
    top: 0;
    position: sticky;
    padding-top: 12px;
    background: white;
    z-index: 69; /* Nice */
}
